@media screen and (max-width: 576px) {
  /* nav section */
  .nav-container {
    margin: 20px;
  }
  .nav-logo h3 {
    font-size: 1.25rem;
  }
  .nav-links {
    display: none;
  }
  /* banner section */
  .banner-container {
    margin: 10px;
    justify-content: center;
    background-position: center;
  }
  .banner-content {
    width: 100%;
    padding: 10px;
  }
  .banner-content h3 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .banner-content > p {
    font-size: 0.75rem;
    max-width: 304px;
    margin: 10px;
  }
  .banner-content form,
  .banner-content form input,
  .banner-content form select {
    width: 100%;
    max-width: none;
  }
  .banner-content form {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  .banner-content form input,
  .banner-content form select {
    display: block;
  }
  .banner-content form .primary-btn {
    width: 100%;
  }
  /* popular tours section */
  .popular-tours {
    flex-direction: column;
    padding: 10px;
    gap: 24px;
    margin-bottom: 24px;
  }
  .popular-tours-content {
    gap: 16px;
  }
  .popular-tours-content,
  .popular-tours-img {
    width: 100%;
  }
  .popular-tours-content h3 {
    font-size: 1.25rem;
  }
  .popular-tours-content p,
  ul > li {
    font-size: 0.9rem;
  }
  .popular-tours-img img {
    max-width: 100%;
  }
  /* destinations section */
  .destinations-content h3 {
    font-size: 1.25rem;
  }
  .destinations .destinations-content p {
    width: 100%;
  }
  .destinations .destinations-content h3,
  .destinations .destinations-content p {
    margin-bottom: 10px;
    padding: 0 10px;
  }
  .destination-card-container {
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
    margin-top: 10px;
  }
  .destination-card img {
    width: 100%;
    height: 180px;
  }
  /* choose section */
  .choose-content {
    margin: 24px 10px 0 10px;
  }
  .choose-content h3 {
    font-size: 1.25rem;
  }
  .choose-content p {
    width: 90%;
    margin: 10px;
  }
  .choose-content-cards {
    flex-direction: column;
    margin: 10px;
    gap: 10px;
  }
  .choose-card i {
    font-size: 2rem;
  }
  .cards-row-two {
    width: 95%;
  }
  /* video section */
  .video-container {
    margin-top: 24px;
    flex-direction: column;
    align-items: center;
  }
  .video-content {
    margin-bottom: 24px;
  }
  .video-content h3 {
    font-size: 1.25rem;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  .video-content p {
    padding: 0;
    margin: 16px;
  }
  .video-content ul {
    margin: 16px 10px;
  }
  .video-content ul li {
    padding: 0;
    font-weight: 700;
  }
  .video-content .primary-btn {
    margin-left: 10px;
  }
  .video-img {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  .video-img img {
    width: 100%;
    height: 200px;
  }
  /* newsletter section */
  .newsletter-container {
    flex-direction: column;
    height: 100%;
    margin: 10px;
  }
  .newsletter-heading {
    margin-top: 5px;
    font-size: 1rem;
  }
  .newsletter-form {
    /* padding: 24px; */
  }
  .newsletter-form form input {
    padding: 20px;
  }
  .newsletter-img img {
    margin-top: 16px;
    width: 100%;
  }
  .newsletter-img-text {
    transform: rotate(-30deg) translateX(180px) translateY(-70px) scale(0.6);
  }
}
