@media screen and (max-width: 576px) {
    /* nav section */
    .nav-container {
        margin: 20px;
    }
    .nav-logo h3 {
        font-size: 1.25rem;
    }
    .nav-links {
        display: none;
    }
    /* banner section */
    .banner-container {
        margin: 20px;
        justify-content: center;
        background-position: center;
    }
    .banner-content {
        width: 100%;
        padding: 10px;
    }
    .banner-content h3 {
        font-size: 1.5rem;
        font-weight: 800;
    }
    .banner-content > p {
        font-size: 0.75rem;
        max-width: 304px;
        margin: 10px;
    }
    .banner-content form, .banner-content form input, .banner-content form select {
        width: 100%;
        max-width: none;
    }
    .banner-content form {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .banner-content form input,
    .banner-content form select {
        display: block;
    }
    .banner-content form .primary-btn {
        width: 100%;
    }
}