/* font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* variable styles */
:root{
    --primary-color: #FF5400;
    --heading-color:#131318;
    --paragraphs-color: rgba(19, 19, 24, 0.70);
    --form-input-color: rgba(19, 19, 24, 0.30);
    --card-paragraph-color: #5A5A5D;
}

/* shared styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.orange-text {
    color: var(--primary-color);
}

.primary-btn {
    border: none;
    background: var(--primary-color);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 35px;
    width: 174px;
    height: 52px;
    font-size: 1rem;
    font-weight: 700;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--heading-color);
}

.section-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--paragraphs-color);
}
/* header section styles */

/* nav section styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo h3 {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--heading-color);
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: var(--heading-color);
}

/* banner section styles */
.banner-container {
    background: linear-gradient(180deg, rgb(50, 50, 57) 0%, rgba(37, 37, 45, 0) 80%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.banner-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 106px 185px;
}

.banner-content h3 {
    font-size: 4.5rem;
    font-weight: 800;
}

.banner-content > p {
    max-width: 676px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner-content form {
    background: rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    display: flex;
    gap: 16px;
    padding: 16px;
    justify-content: space-evenly;
}

.banner-content form input, select{
    max-width: 174px;
    border: none;
    border-radius: 8px;
    padding: 14px 35px 14px 12px;
    color: var(--form-input-color);
    font-weight: 400;
    font-size: 1rem;
}

.banner-content form input::placeholder {
    color: var(--form-input-color);
    opacity: 1;
}

.banner-content form select {
    appearance: none;
    background-image: url('/images/angle-down-solid.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 12px center;
}

.banner-content form .primary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* popular tours section */
.popular-tours {
    max-height: 550px;
    display: flex;
    gap: 60px;
    align-items: center;
}

.popular-tours-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popular-tours-content ul {
    padding-left: 1.25rem;
    list-style-position: outside;
}
