/* universal styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.orange-text {
    color: #FF5400;
}
/* header section styles */

/* nav section styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo h3 {
    font-size: 2.25rem;
    font-weight: 800;
    color: #131318;
}

.orange-text {
    color: #FF5400;
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #131318;
}


